name: Python CI

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '.github/**'
    branches: [ main ]
  pull_request:
    paths-ignore:
      - '.github/**'
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Node
      uses: actions/setup-node@v6
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      run: npm test

  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Node
      uses: actions/setup-node@v6
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm ci
      
    - name: Install dependencies
      run: npm run build

    - name: Deploy 
      run: echo "Deploying ..."